/* #region global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bool-page);
  font-family: "Roboto", sans-serif;
}

main {
  width: 750px;

  margin: 50px auto;
  border-radius: 1%;
}

h1 {
  display: inline;
  vertical-align: 40%;
}

h2 {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
}

/* #endregion global */
/* #region utility */
:root {
  --bool-white: white;
  --bool-page: #f6f8f9;
  --bool-add_task: #47adf1;
  --bool-add_section: #d3d7db;
  --bool-editorial: #45abea;
  --bool-goals: #9c72e4;
  --bool-recluiting: #64c0a9;
  --bool-mobile: #f29e33;
  --bool-website: #d863a1;
  --bool-sales: #b0c926;
}

.p_5 {
  padding: 6px;
}
.backgroun {
  background-color: var(--bool-white);
}
.inline {
  display: inline-block;
}

/* #endregion utility */

/* #region header */

.logo {
  background-color: var(--bool-white);
  height: 65px;
}
/* #endregion header */

/* button */
.buttons {
  width: auto;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 2px;
}

.add_task {
  border-radius: 4px;
  background-color: var(--bool-add_task);
  color: var(--bool-white);
  border: none;
  padding: 7px 12px;
}

.add_section {
  border-radius: 4px;
  background-color: var(--bool-white);
  color: var(--bool-add_section);
  border: var(--bool-add_section) solid 1.5px;
  padding: 7px 12px;
}
/* /end button */

/* #region content */
.content {
  height: auto;
  background-color: var(--bool-white);
  padding-left: 50px;
}
.card {
  padding-bottom: 20px;
}
/* style chck and cross */
.check {
  display: inline-block;
  color: green;
  width: 20px;
  height: 20px;
  border: solid 1px green;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
}
.cross {
  display: inline-block;
  color: red;
  width: 20px;
  height: 20px;
  border: solid 1px red;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
}
/* end style chck and cross */
/* style element  */
.edit {
  background-color: var(--bool-editorial);
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  color: var(--bool-white);
  vertical-align: bottom;
}

.goals {
  background-color: var(--bool-goals);
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  color: var(--bool-white);
  vertical-align: bottom;
}

.recruiting {
  background-color: var(--bool-recluiting);
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  color: var(--bool-white);
  vertical-align: bottom;
}

.mobile {
  background-color: var(--bool-mobile);
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  color: var(--bool-white);
  vertical-align: bottom;
}

.website {
  background-color: var(--bool-website);
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  color: var(--bool-white);
  vertical-align: bottom;
}

.sales {
  background-color: var(--bool-sales);
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  color: var(--bool-white);
  vertical-align: bottom;
}
/* end style element  */
/* #endregion content */
